NODE_ENV=development
APP_PORT=3000
APP_NAME="NestJS API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000
EMAIL_VERIFICATION=true

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres@123!
DATABASE_NAME=nest_boilerplate
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# Support "local", "s3"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=1d

FACEBOOK_APP_ID=774129624033705
FACEBOOK_APP_SECRET=dbadf4d4ea19dcd8696a684895662369

GOOGLE_CLIENT_ID=1012133453464-tk1slr2k5h02eguou95u1acg3cje6ugc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

WORKER_HOST=redis://localhost:6379/1

REDIS_STATUS=true
REDIS_HOST = localhost #'redis' for dockerize
REDIS_PORT = 6479
REDIS_EXPIRATION = 600 #in second

MULTER_DESTINATION = ./uploads
