#Set NODE_ENV variable to production to disable logging
NODE_ENV=development
APP_PORT=3000
APP_NAME="NestJS API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000
EMAIL_VERIFICATION=true

#Database credential
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

#Database setup
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

#Support "local", "s3"
FILE_DRIVER=local

#Mail Credential
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=
MAIL_SECURE=
MAIL_REQUIRE_TLS=
MAIL_DEFAULT_EMAIL=
MAIL_DEFAULT_NAME=
MAIL_CLIENT_PORT=

#JWT SETUP
AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=1d

#FACEBOOK SETUP
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

#GOOGLE SETUP
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#REDIS SETUP
REDIS_STATUS=true
REDIS_HOST = localhost #'redis' for dockerize
REDIS_PORT = 6479
REDIS_EXPIRATION = 600 #in second

MULTER_DESTINATION = ./uploads

#File storage minio setup
MINIO_BASE_URL=localhost
MINIO_PORT=9000
MINIO_BUCKET_NAME=playbook-bucket
MINIO_BUCKET_VERSION=2012-10-17
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio@123!
#Store bellow variable with url that can be accessed by public include bucket name
MINIO_IMAGE_URL=http://localhost:9000/playbook-bucket/


UDEMY_CLIENT_ID=
UDEMY_CLIENT_SECRET=


# Active Directory
ACTIVE_DIRECTORY_HOST=
ACTIVE_DIRECTORY_BASESDN=
ACTIVE_DIRECTORY_USERNAME=
ACTIVE_DIRECTORY_PASSWORD=